<center>
<br>
<h1>Page du Gossip de <%="#{@array_gossip[params['id'].to_i].user.first_name}"%></h1>
<br>

<p>
  <u>Écrit par</u>: <%= link_to "#{@array_gossip[params['id'].to_i].user.first_name}", my_gossip_gossip_author_path((@array_gossip[params['id'].to_i].user.id)-1) %><br>
  <u>Titre du gossip</u>: <%= @array_gossip[params['id'].to_i].title %><br>
    <u>Gossip</u>: <%= @array_gossip[params['id'].to_i].content %><br>
    <u>Date de création</u>: <%= @array_gossip[params['id'].to_i].created_at %><br>

</p>

<p>
  <%= link_to "Retour à la page des gossips", welcome_name_path %>
</p>
</center>